@media (min-width: 600px) {
  .infoCall {
    height: 300px;
  }
  .infoCall__title {
    font-size: 2.25rem;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
}
